#app{
  color: #333333;

  .display-flex-col{
    display: flex;
    flex-direction: column;
  }

  .display-flex-row{
    display: flex;
    flex-direction: row;
  }

  header{
    width: 100%;
    height: 118px;

    position: fixed;
    top: 0px;

    background-color: white;

    border-bottom: 1px solid #7dcbd7;
    z-index: 999;

    .header-content{
      width: 750px;
      height: 118px;

      margin: 0 auto;

      .avatar{
        width: 82px;
        height: 82px;

        margin: 16px 15px 16px 0px;
        border: 1px solid #dddddd;

        background: url("../../../myself/docs/src/css/avatar.png") no-repeat 0 0;
        background-size: cover;

        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
      }

      .avatar-body{
        margin: 20px 0px;

        h1{
          font-size: 24px;
          font-weight: 600;

          margin-left: 20px;
        }

        .header-info{
          font-size: 15px;
          font-weight: 200;
        }

        .header-info-item {
          margin: 8px 20px;

          height: 20px;
          line-height: 20px;

          font-size: 15px;
          font-weight: 200;
          
          .school, wk-exp{
            color: #323232;
          }

          .phone, .email, .living{
            color: #666666;
          }
        }
      }
    }
  }

  .body-info{
    background-color: #fafafa;

    position: absolute;
    padding:118px 0px 100px 0px;

    margin: auto;
    text-align: center;
    width: 100%;

    h2{
      font-size: 22px;
      font-weight: 400;

      margin-bottom: 20px;

      color: #7dcbd7;
    }
    h3{
      font-size: 18px;
      font-weight: 400;

      color: #4b4b4b;
    }
    .technology{
      width: 750px;
      margin: 40px auto;
      text-align: left;

      .tec-title{
        max-width: 750px;

        text-align: left;

        margin-top: 20px;

        color: #4d4d4d;
        font-size: 17px;
        font-weight: 400;
      }

      .tec-item{
        background: url("../../../myself/docs/src/css/line.png") no-repeat 0 0;

        max-width: 750px;

        color: #898989;
        font-size: 15px;
        font-weight: 200;
        text-indent: 10px;

        margin: 10px auto;
      }
    }
    .work-exp{
      width: 750px;
      margin: 20px auto;
      text-align: left;

      .wkexp-item {
        font-size: 22px;
        font-weight: 400;

        margin: 20px auto;
        text-align: left;

        max-width: 750px;

        .wkexp-item-title{
          margin: 5px 0px;
        }

        .wkexp-item-company, .wkexp-item-company-type{
          color: #4c4c4c;
          font-size: 18px;
          font-weight: 400;

          margin-right: 10px;
        }

        .wkexp-item-description{
          line-height: 20px;

          margin-top: 8px;

          color: #4e4e4e;
          font-size: 15px;
          font-weight: 200;
        }

        em{
          color: #999999;
          font-size: 14px;
        }
      }
    }
    .project-exp{
      width: 750px;
      margin: 20px auto;
      text-align: left;

      .project-exp-item{
        font-size: 22px;
        font-weight: 400;
        
        text-align: left;

        max-width: 750px;

        .project-exp-item-description{
          margin:10px 0px;

          font-size: 15px;
          font-weight: 200;

          em{
            font-weight: 100;
            line-height: 2;
            color: #999;
          }

          li{
            background: url("../../../myself/docs/src/css/line.png") no-repeat 0 0;

            max-width: 750px;

            color: #5b5b5b;
            text-indent: 10px;
            font-weight: 400;
          }

          .pro-item{
            margin: 10px auto;
          }

          .pro-exp-yun{
            height: 20px;

            color: #898989;
          }
        }
      }
    }
  }
}