#app {
  color: #333333; }
  #app .display-flex-col {
    display: flex;
    flex-direction: column; }
  #app .display-flex-row {
    display: flex;
    flex-direction: row; }
  #app header {
    width: 100%;
    position: fixed;
    background-color: white;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    border-bottom: 1px solid #e7e7e7;
    z-index: 999; }
  #app .header {
    width: 750px;
    margin: auto;
    text-align: left; }
    #app .header h1 {
      font-size: 30px;
      font-weight: 600; }
    #app .header .header-info {
      font-size: 15px;
      font-weight: 200;
      width: 760px;
      margin: 10px auto; }
    #app .header .header-info-item {
      width: 190px;
      margin: 8px 0;
      height: 20px;
      line-height: 20px; }
  #app .body-info {
    position: absolute;
    padding: 110px 0px 100px 0px;
    margin: auto;
    text-align: center;
    width: 100%; }
    #app .body-info h2 {
      font-size: 28px;
      font-weight: 400; }
    #app .body-info .education {
      width: 750px;
      margin: auto; }
      #app .body-info .education .education-title, #app .body-info .education .education-major {
        font-size: 22px;
        font-weight: 400;
        text-align: left; }
        #app .body-info .education .education-title .education-title-school, #app .body-info .education .education-major .education-title-school {
          margin: 10px 20px; }
      #app .body-info .education .education-major {
        font-size: 20px;
        font-weight: 200; }
      #app .body-info .education span {
        margin: 10px 0; }
    #app .body-info .technology {
      width: 750px;
      margin: 30px auto;
      text-align: left; }
      #app .body-info .technology ul {
        margin-top: 20px; }
      #app .body-info .technology .tec-title {
        max-width: 750px;
        text-align: left;
        margin: auto;
        font-size: 26px;
        font-weight: 400; }
      #app .body-info .technology .tec-item {
        max-width: 750px;
        color: #999;
        font-size: 18px;
        font-weight: 200;
        margin: 10px auto; }
    #app .body-info .work-exp {
      width: 750px;
      margin: 30px auto;
      text-align: left; }
      #app .body-info .work-exp .wkexp-item {
        font-size: 22px;
        font-weight: 400;
        margin: 20px auto;
        text-align: left;
        max-width: 750px;
        line-height: 30px; }
        #app .body-info .work-exp .wkexp-item .wkexp-item-title {
          margin: 5px 0px; }
        #app .body-info .work-exp .wkexp-item .wkexp-item-company, #app .body-info .work-exp .wkexp-item .wkexp-item-company-type {
          font-size: 20px;
          font-weight: 400; }
        #app .body-info .work-exp .wkexp-item .wkexp-item-description {
          margin: 10px 0px;
          font-size: 18px;
          font-weight: 200;
          color: #999; }
        #app .body-info .work-exp .wkexp-item .wkexp-item-project em {
          margin: 0px 20px; }
    #app .body-info .project-exp {
      width: 750px;
      margin: 30px auto;
      text-align: left; }
      #app .body-info .project-exp .project-exp-item {
        font-size: 22px;
        font-weight: 400;
        margin: 20px auto;
        text-align: left;
        max-width: 750px; }
        #app .body-info .project-exp .project-exp-item .project-exp-item-project {
          margin: 0px 20px; }
        #app .body-info .project-exp .project-exp-item .project-exp-item-description {
          margin: 10px 0px;
          font-size: 20px;
          font-weight: 200; }
          #app .body-info .project-exp .project-exp-item .project-exp-item-description em {
            font-size: 18px;
            font-weight: 100;
            line-height: 2;
            color: #999; }
          #app .body-info .project-exp .project-exp-item .project-exp-item-description li {
            margin-top: 15px; }

/*# sourceMappingURL=app.css.map */
