
@font-face {font-family: "iconfont";
  src: url('./fonts/iconfont.eot?t=1493732557078'); /* IE9*/
  src: url('./fonts/iconfont.eot?t=1493732557078#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/iconfont.woff?t=1493732557078') format('woff'), /* chrome, firefox */
  url('./fonts/iconfont.ttf?t=1493732557078') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./fonts/iconfont.svg?t=1493732557078#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:15px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accessory:before { content: "\e6dd"; }

.icon-addressbook:before { content: "\e6e2"; }

.icon-coordinates:before { content: "\e6ec"; }

.icon-homepage:before { content: "\e702"; }

.icon-mail:before { content: "\e70a"; }

.icon-mobilephone:before { content: "\e70f"; }

.icon-people:before { content: "\e715"; }

.icon-stealth:before { content: "\e72c"; }

